__pycache__/
*.pyc
venv/
.env

models/*.h5
models/*.keras
models/*.pkl

generated_music/*.mid
generated_music/*.midi
generated_music/*.wav
generated_music/*.json

dataset/*.mid
dataset/*.midi
dataset/**/*.mid
dataset/**/*.midi
!dataset/put_midi_files_here.txt

.DS_Store
